<p id="notice"><%= notice %></p>
<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Admin</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <%= form_with(model: user) do |form| %>
          <td><%= form.text_field :email, value: user.email %></td>
          <td><%= form.check_box "admin", :checked => user.roles.pluck(:name).include?("admin") %></td>
          <% unless current_user == user %>
            <td><%= form.submit %></td>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
